@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}

/* purple: #9013FE */
/* blue: #4DB9FF */
/*Green: #64C236*/
/* Brown: */
/* Dark Brown #1D0500 */

body{
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 16pt;
  background-color: #4DB9FF;
  color: #0a1a25;
}

.apple-base{
  background-image: url("../images/apple.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 60%;
  padding-top: 2.8rem;
  padding-right: .6rem;
}

.content{
  background-color: white;
  opacity: 50%;
  clear: both;
}

.content p{
  color: #0f344d;
}

#donut{
  height: 4rem;
  margin-bottom: -1rem;
  margin-left: -1.5rem;
}

.hero{
  padding-top:10rem;
  height: 18rem;
  background-color: #9013FE;
  width: 100%;
}

.hero img{
  top:0;
  right:0;
  height: 30%;
  padding-left: 60%;
}

.hero > h1{
  font-size: 500%;
  margin-top: 0;
  text-align: center;
  line-height: 70%;
  padding-bottom: 0;
  margin-bottom: 0;
  color: white;
}

.hero > h2{
  margin-top: 0.5rem;
  font-size: 80%;
  text-align: center;
  line-height: 100%;
  color: #4DB9FF;
}

.twitter-timeline{
  width: 30rem;
  color: #4DB9FF;
}

.comic{
  max-width: 34rem;
  padding-top: 6rem;
  margin-left:  1rem;
  margin-right: 1rem;
  margin: auto;
  clear: both;
}

.comic img{
  height: 6rem;
  display: inline;
}

.comic p{
  font-family: "Classic Comic", sans-serif;
  font-size: 66.67%;
  color: black;
  background-color: white;
  padding: 0.5rem;
  line-height: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 4rem;
  border-color: black;
  border-style: solid;
  border-width: 0.2rem;
  width: 13rem;

  border-radius: 1.5rem;
  border-color: black;
}

.triangle-border {
  position: relative;
  padding: 15px;
  margin: 1em 0 3em;
  border: 5px solid #5a8f00;
  color: #333;
  background: #fff;
  /* css3 */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.triangle-border.left {
  margin-left: 30px;
}

.triangle-border.right {
  margin-right:30px;
}


.triangle-border:before {
  content:"";
  position:absolute;
  bottom:-20px; /* value = - border-top-width - border-bottom-width */
  left:40px; /* controls horizontal position */
  border-width: 20px 20px 0;
  border-style: solid;
  border-color:#5a8f00 transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* creates the smaller  triangle */
.triangle-border:after {
  content:"";
  position:absolute;
  bottom:-13px; /* value = - border-top-width - border-bottom-width */
  left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width:13px 13px 0;
  border-style:solid;
  border-color:#fff transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* Variant : left
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.left:before {
  top:10px; /* controls vertical position */
  bottom:auto;
  left:-30px; /* value = - border-left-width - border-right-width */
  border-width:15px 30px 15px 0;
  border-color:transparent #5a8f00;
}

/* creates the smaller  triangle */
.triangle-border.left:after {
  top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
  bottom:auto;
  left:-21px; /* value = - border-left-width - border-right-width */
  border-width:9px 21px 9px 0;
  border-color:transparent #fff;
}

/* Variant : right
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.right:before {
  top:10px; /* controls vertical position */
  bottom:auto;
  left:auto;
  right:-30px; /* value = - border-left-width - border-right-width */
  border-width:15px 0 15px 30px;
  border-color:transparent #5a8f00;
}

/* creates the smaller  triangle */
.triangle-border.right:after {
  top:16px; /* value = (:before top) + (:before border-top) - (:after border-top) */
  bottom:auto;
  left:auto;
  right:-21px; /* value = - border-left-width - border-right-width */
  border-width:9px 0 9px 21px;
  border-color:transparent #fff;
}


#what-is-fod{
  clear: both;
}

/*.comic p:after {
   content: "";
   top: 20px;
   left: 100%;
   border-left-color: inherit;

   border-top: 20px solid transparent;
   border-bottom: 20px solid transparent;

   border-left: 80px solid green;
}*/

.girl{
  float: left;
  display: inline;
  clear: both;
}

.girl-talk p{
  float: left;
  display: inline;
  clear: right;
  margin-right: 0;
}

.boy{
  float: right;
  display: inline;
  clear: left;
}

.boy-talk p{
  float: right;
  display: inline;
  margin-left: 0;
}

.talk{

}

iframe{
  height: 17.82rem;   /* .575 */
  width: 31rem;
  /*width: "500";
  height: "281";*/
}

body > header > h1 {
  font-size: 350%;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

h1, h2{
  font-family:"FatFrank", sans-serif;
  letter-spacing: .1rem;
  line-height: 2rem;
  margin-bottom: 0rem;
  color: #4DB9FF;
}

p{
  line-height: 1.25rem;
  padding-bottom: 0rem;
}

section{
  border-radius: 1rem;
  max-width: 36em;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left:  1em;
  padding-right: 1em;
  line-height: 150%;
  margin: 0 auto;
}

a{
  color: inherit;
}

a:visited {
  color: inherit;
}

ol{
  margin-top: 0;
  padding-top: 0;
}

#definition-of-fod{
  font-size: 150%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.lead::first-letter {
  font-size: 250%;
  float: left;
  padding-top: 0.4rem;
  padding-right: 0.3rem;
  font-weight: bold;
}

.listlead{
  margin-bottom: 0;
}

.grass{
  background-image: url(../images/grass.png);
  background-position: top;
  height: 10rem;
}

.green-patch{
  height: 5rem;
  background-color: #64C236;
}
.grass-dirt{
  /*background: linear-gradient(#64C236, #1D0500);*/
}

.grass-dirt h2{
  color: #64C236;
}

.dirt{
  height: 10rem;
  background-color: #5c3d06;
  background-image: url("../vectors/grass-roots.svg");
  background-position: center top;
  background-repeat: repeat-x;
  background-size: 50rem;
  padding-bottom: 1rem;
}

.dirt-earth{
  height: 60rem;
  /*background: linear-gradient(#A9823D, black);*/
  background: linear-gradient(#64C236, #825a12);

}
.green-area{
  background-color: #64C236;
  color: #64C236;
  padding-bottom: 2rem;
}

.green-area p{
  color: #1b340e;
}

#needed{
  color: white;
  background-color: #64C236;
}

#needed h2{
  color: #64C236;
}

#needed > section{
  padding-top: 1rem;
}

#help{
  color: white;
  background-color: #5c3d06;
}

#secrets{
  color: white;
  background-color: #5c3d06;
}

#secrets h1, #secrets h2, #secrets h3{
  color: #5c3d06;
}

#secrets p, #secrets li{
  color: #110401;
}

#separation{
  color: white;
  background-color: #5c3d06;
}
#addiction{
  color: white;
  background-color: #5c3d06;
}

#browntoblack{
  height: 10rem;
  background-color: black;
}

footer{
  margin: 0;
  color: white;
  background-color: black;
  font-style: italic;
}

@media screen and (min-width: 600px) {
  body{
    font-size: 20pt;
  }
  .comic p{
    width: 18rem;
  }
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 1400px) {

}
