.hero{
  height: 20rem;
}

.hero > h1{
  font-size: 400%;
  padding-top:10rem;
  text-align: center;
  line-height: 100%;
}

body{
  font-size: 100%;
  margin: auto;
  max-width: 40em;
  padding-left: 1.5em;
  padding-right: 3em;
  background-color: #4DB9FF;
  color: white;
  line-height: 150%;
}

main{

}

body > header > h1 {
  font-size: 350%;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

h1, h2{
  font-family:"FatFrank", sans-serif;
}

h2{
  letter-spacing: .06rem;
}

section{
  padding-top: 1rem;
}

a {
  color: inherit;
}

a:visited {
  color: inherit;
}

h1, h2, h3 {
}

.lead::first-letter {
  font-size: 250%;
  float: left;
  padding-top: 0.4rem;
  padding-right: .3rem;
  font-weight: bold;
}

footer{
  font-style: italic;
}

@media screen and (min-width: 1400px) {
  body{
    font-size: 120%;
  }
}
