/* purple: #9013FE */
/* blue: #4DB9FF */
/*Green: #64C236*/

body{
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 16pt;
  background-color: #4DB9FF;
  color: white;
}

.apple-base{
  background-image: url("../images/apple.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 60%;
  padding-top: 2.8rem;
  padding-right: .6rem;
}

.hero{
  height: 18rem;
  background-color: #9013FE;
  position: relative;
}

.hero img{
  top:0;
  right:0;
  height: 30%;
  padding-left: 60%;
}

.hero > h1{
  font-size: 500%;
  margin-top: 0;
  padding-top:4rem;
  text-align: center;
  line-height: 70%;
  padding-bottom: 0;
  margin-bottom: 0;
}

.hero > h2{
  margin-top: 0.5rem;
  padding-top: 0;
  font-size: 80%;
  text-align: center;
  line-height: 100%;
  color: #4DB9FF;
}

.twitter-timeline{
  width: 30rem;
  color: #4DB9FF;
}

.comic{
  max-width: 28rem;
  padding-top: 6rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin: auto;
}

.comic img{
  height: 6rem;
  display: inline;
}

.comic p{
  font-family: "Classic Comic", sans-serif;
  font-size: 66.67%;
  color: black;
  background-color: white;
  padding: 0.5rem;
  line-height: 100%;
  margin-left: 6rem;
  margin-right: 3rem;
  margin-bottom: 4rem;
  border-color: black;
  border-style: solid;
  border-width: 0.2rem;
  width: 14rem;

  border-radius: 1.5rem;
  border-color: black;
}

/*.comic p:after {
   content: "";
   top: 20px;
   left: 100%;
   border-left-color: inherit;

   border-top: 20px solid transparent;
   border-bottom: 20px solid transparent;

   border-left: 80px solid green;
}*/

.girl{
  float: left;
}

.boy{
  float: right;
}

.talk{

}

iframe{
  height: 17.82rem;   /* .575 */
  width: 31rem;
  /*width: "500";
  height: "281";*/
}

body > header > h1 {
  font-size: 350%;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

h1, h2{
  font-family:"FatFrank", sans-serif;
  letter-spacing: .1rem;
  line-height: 3rem;
}

h2{
  line-height: 100%;
}

section{
  max-width: 40em;
  padding-top: 1rem;
  padding-left: 1.5em;
  padding-right: 3em;
  line-height: 150%;
  margin: auto;
}

a{
  color: inherit;
}

a:visited {
  color: inherit;
}

ol{
  margin-top: 0;
  padding-top: 0;
}

.lead::first-letter {
  font-size: 250%;
  float: left;
  padding-top: 0.4rem;
  padding-right: 0.3rem;
  font-weight: bold;
}

.listlead{
  margin-bottom: 0;
}

.grass{
  background-image: url(../images/grass.png);
  background-position: top;
  height: 10rem;

}

.grass-dirt{
  height: 50rem;
  background: linear-gradient(#64C236, #1D0500);
}

.dirt{
  height: 60rem;
  /*background-color: #A9823D;*/
}

.dirt-earth{
  height: 60rem;
  /*background: linear-gradient(#A9823D, black);*/
  background: linear-gradient(#64C236, #1D0500);

}

#needed{
  color: white;
  background-color: #64C236;
}

#help{
  color: white;
  background-color: #A9823D;
}

#secrets{
  color: white;
  background-color: #1D0500;
}

#separation{
  color: white;
  background-color: #1D0500;
}
#addiction{
  color: white;
  background-color: #1D0500;
}

footer{
  margin: 0;
  color: white;
  background-color: #1D0500;
  font-style: italic;
}

@media screen and (min-width: 1400px) {
  body{
    font-size: 120%;
  }
}
